################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyApp/FileContentIndex/72c78564-37e9-4000-8bba-0cd59e69ac2a.vsidx
/MyAppWeb/obj/Debug/net6.0/project.razor.vs.json
/.vs/ProjectEvaluation/myapp.projects.v7.bin
/.vs/ProjectEvaluation/myapp.metadata.v7.bin
/.vs/MyApp/DesignTimeBuild/.dtbcache.v2
/.vs/MyApp/v17/.futdcache.v2
/.vs/MyApp/v17/.suo
