################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyApp/FileContentIndex/72c78564-37e9-4000-8bba-0cd59e69ac2a.vsidx
